<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microblog-About</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar__brand">
        <a href="/"
          ><img
            class="navbar__logo"
            alt="The Microblog Logo"
            src="/static/blog_01.svg"
        /></a>
        Microblog
      </div>
      <ul class="navbar__navigation">
        <li class="navbar__navigation-item">
          <a href="login" class="navbar__link"> </a>
        </li>
      </ul>
    </header>
    <main class="main">
      <section>
        <h1>About Microblog</h1>
        <p>
          Microblog is a platform to provide user with a simple and eifficinet
          way to share thier thaought, stories and experiences. Our Microbloging
          service is tailered to meet following key features:
        </p>
        <ul>
          <li>
            <strong>User-Friendly Interface:</strong>
            <p>
              Enjoy a clean and intutive interface that allows users to easily
              navigate and interact with the platform.
              <img
                src="/static/images/user_interface.jpg"
                alt="User-Friendly Interface"
                class="feature-image"
              />
            </p>
          </li>
          <li>
            <strong>Secure Registration</strong>
            <p>
              We priotize the security of users. Register with confidence,
              knowing that your information is protected.
              <img
                src="/static/images/secure_registration.jpg"
                alt="Secure-Registration"
                class="feature-image"
              />
            </p>
          </li>
          <li>
            <strong>Personalized Profile:</strong>
            <p>
              Personlize your profile with details such as your name, username,
              and follwers counter.
              <img
                src="/static/images/personalized_profiles.jpg"
                alt="personalized_profiles"
                class="feature-image"
              />
            </p>
          </li>
          <li>
            <strong>Blog Creation:</strong>
            <p>
              Create and share your microblog effortlessly. share your thoughts
              and stories with the Microblog community.
              <img
                src="/static/images/blog_creation.jpg"
                alt="Blog Creation"
                class="feature-image"
              />
            </p>
          </li>
          <li>
            <strong>Real-Time Update</strong>
            <p>
              Stay connected with real-time updates from your favourite authors.
              So fllow your author and never miss a latest post.
            </p>
            <img
              src="/static/images/real_time_updates.jpg"
              alt="Real-Time update"
              class="feature-image"
            />
          </li>
          <li>
            <strong>Responsive Design</strong>
            <p>
              Access Microblog from various devices with our responsive UI,
              ensure seamless experiences on desktop, mobile and tablets
            </p>
            <img
              src="/static/images/responsive_design.jpg"
              alt="Responsive Design"
              class="feature-image"
            />
          </li>
        </ul>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__content">
        <section id="left">
          <div class="footer__column">
            <a href="/" class="footer__item">{{user}}</a>
          </div>
        </section>
        <section id="right">
          <div class="footer__column">
            <a href="/" class="footer__item">Home</a>
          </div>
        </section>
      </div>
    </footer>
  </body>
</html>
